body{
    background-color: rgba(255, 228, 196, 0.484);
}
.post{
   padding: 12px;
}
.post-right{
    text-align: center;
  background-color: yellow;
  float: right;
  width: 30%;
}
.post-left{
    float: left;
    width: 70%;
    
}
section{
    max-width: 85%;
    background-color: aliceblue;
    margin: auto;
}
.clearfix{
    clear: both;
}
.right1 li{
    display: flex;
    display: inline-block;
    gap: 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right2 li{
    display: flex;
    display: inline-block;
    gap: 30px;
    
}