
.a{
    display: flex;
    gap: 100px;
    max-width: 1000px;
    margin: auto;

}

.i{
    padding: 12px 0px;
    display: block; 
    text-decoration: none;
    background: red;
    color: aliceblue;
    text-align: center;
}

.post {
    box-shadow: 2px 5px 10px black;
  
}

img {
    transition: 2s;
    width: 100%;
}
img:hover{
    opacity:0.6;
}
@media (min-width:561px) {
    .a{
        flex-direction: row ;
     
    }
    img{
        width: 200px;
    }
    }
@media (max-width:560px) {
    .a{
        flex-direction: column;
    }
    }
   